.company {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
  }
  
  .company__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .company__title {
    color: #2b356b;
    font-size: 24px;
    font-weight: bold;
  }
  
  .company__add-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2b356bcb;
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .company__add-button:hover {
    background-color: #2b356b;
    transform: translateY(-2px);
  }
  
  .company__search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
  }
  
  .company__search-field {
    flex: 1;
    min-width: 150px;
  }
  
  .company__search-button {
    padding: 8px 16px;
    width: 150px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #2b356b;
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .company__search-button:hover {
    background-color: #1f274d;
    transform: translateY(-2px);
  }
  
  .company__table-container {
    overflow: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .company__table th,
  .company__table td {
    color: #2b356b;
    font-size: 14px;
    text-align: left;
  }
  
  .company__table th {
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  .company__table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .company__table .MuiTableCell-root {
    padding: 10px;
  }
  
  .company__actions {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .company__export-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 200px;
    background-color: white;
    color: #000000c5;
    border: 2px solid #2b356b;
  }
  .popup-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 20px 0;
  }
  
  .popup-grid .reset-button {
    grid-column: 2 / 3;
    justify-self: start;
  }
  
  .popup-grid .cancel-button {
    grid-column: 1 / 2;
    justify-self: start;
  }
  
  .popup-grid .logo-button {
    grid-column: 2 / 3;
    justify-self: center;
  }
  
  .popup-grid .save-button {
    grid-column: 3 / 4;
    justify-self: end;
  }
  
  .popup-grid > .MuiTextField-root {
    min-width: 200px;
  }
  
  .company__export-button:hover {
    background-color: #2b356b;
    color: white;
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .company__search-container,
    .company__actions {
      flex-direction: column;
      gap: 10px;
    }
  
    .company__search-field,
    .company__search-button {
      width: 100%;
    }
  
    .company__add-button,
    .company__export-button {
      width: 100%;
    }
  }
  