.invoice-dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background-color: #f5f5f5;
}

.invoice-action-section {
    margin-bottom: 16px;

}

.invoice-action-buttons {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    
}

h3 {
    color: #2b356b;
}

.invoice-action-buttons label, 
.invoice-action-buttons button {
    padding: 7px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    flex: 1;
    height: 40px;
    font-size: 16px;
    background-color: #2b356bd3;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.invoice-export-btn, 
.invoice-import-btn, 
.invoice-add-material-btn, 
.invoice-delete-btn {
    background-color: #e0e0e0;
}

.invoice-action-buttons label:hover, 
.invoice-action-buttons button:hover {
    background-color: #2b356b;
    transform: translateY(-2px);
}

.invoice-search-section {
    margin-bottom: 16px;
}

.invoice-search-buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.invoice-search-input, 
.invoice-main-search-btn {
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

.invoice-search-input {
    flex-grow: 1;
    max-width: 250px;
    border: 1px solid #ccc;
    background-color: white;
    color: #2b356b;
    padding: 10px;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.invoice-search-input:focus {
    border-color: #2b356b;
    outline: none;
}

.invoice-main-search-btn {
    background-color: #2b356be1;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    width: auto;
    height: 50px;
}

.invoice-main-search-btn:hover {
    background-color: #2b356b;
    transform: translateY(-2px);
}

.invoice-backspace-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b356b;
    background: none;
    border: none;
    cursor: pointer;
}

.invoice-table-section {
    margin-top: 16px;
    overflow: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.MuiTableCell-root {
    font-size: 14px;
    color: #2b356b;
}
/* Example CSS for checkboxes */
.checkbox-cell {
    text-align: center;
  }
  
  .popup-dialog {
    width: 80%; /* Adjust dialog width */
  }
  
  .popup-table-container {
    max-height: 500px; /* Adjust height */
    overflow-y: auto;
  }
  .popup-grid{
    color: black;
  }
  /* Style for the TextField container */
  .text-field-container {
    position: relative;
    width: 260px; /* Adjust the width as needed */
    font-family: 'Montserrat', sans-serif; 
    /* Add your preferred font */
  }
  /* Style for the TextField */
  .text-field-container input {
    padding-right: 40px; /* Ensure space for the icon */
    font-size: 10px;
  }
  
  /* Style for the adornment icon */
  .text-field-container .MuiInputAdornment-root {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6a6a6b; /* Icon color */
  }
  
  .text-field-container .MuiInputAdornment-root:hover {
    color: #000000; /* Change color on hover */
  }

@media (max-width: 768px) {
    .invoice-action-buttons {
        flex-direction: column;
    }

    .invoice-search-buttons {
        flex-direction: column;
        gap: 8px;
    }

    .invoice-search-input,
    .invoice-main-search-btn {
        width: 100%;
    }
}
