#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layout {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
}
