.quotation-page {
  display: flex !important;
  flex-direction: column !important;
  padding: 20px !important;
  height: 100vh !important;
  background-color: #f5f5f5 !important;
}

.quotation-header-section {
  margin-bottom: 16px !important;
}

.action-btn, .add-quotation-btn {
  padding: 10px 20px !important;
  border-radius: 4px !important;
  border: none !important;
  cursor: pointer !important;
  flex: 1 !important;
  min-width: 150px !important;
  font-size: 16px !important;
  background-color: #2b356bd3 !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s, transform 0.2s !important;
}

.quotation-action-buttons {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 12px !important;
  margin-bottom: 16px !important;
}

.quotation-action-buttons button {
  padding: 10px 20px !important;
  border-radius: 4px !important;
  border: none !important;
  cursor: pointer !important;
  font-size: 16px !important;
  background-color: #2b356bd3 !important;
  color: #fff !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.3s, transform 0.2s !important;
}

.quotation-action-buttons button:hover {
  background-color: #2b356b !important;
  transform: translateY(-2px) !important;
}

.quotation-search-section {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
  margin-bottom: 16px !important;
}

.search-input {
  height: 40px !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  background-color: #fff !important;
  color: #2b356b !important;
  flex-grow: 1 !important;
  max-width: 250px !important;
  transition: border-color 0.3s !important;
}

.search-input:focus {
  border-color: #2b356b !important;
  outline: none !important;
}

.main-search-btn {
  height: 40px !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  border: none !important;
  background-color: #2b356be1 !important;
  color: #fff !important;
  cursor: pointer !important;
  transition: background-color 0.3s, transform 0.2s !important;
}

.main-search-btn:hover {
  background-color: #2b356b !important;
  transform: translateY(-2px) !important;
}

.backspace-btn {
  width: 36px !important;
  height: 36px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #2b356b !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}

.quotation-table-container {
  margin-top: 16px !important;
  overflow: auto !important;
  background-color: white !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.MuiTableCell-root {
  font-size: 14px !important;
  color: #2b356b !important;
}

.small-icon-button {
  padding: 2px;  
  width: 24px;   
  height: 24px;
}


@media (max-width: 768px) {
  .quotation-action-buttons {
    flex-direction: column !important;
  }

  .quotation-search-section {
    flex-direction: column !important;
    gap: 8px !important;
  }

  .search-input,
  .main-search-btn {
    width: 100% !important;
  }
}
