body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.sidebar {
    background: linear-gradient(180deg, #1b2353 0%, #2b356b 100%);
    color: #ffffff;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease-in-out;
}

.sidebar.collapsed {
    width: 70px;
}

.toggle-button {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -20px;
    width: 30px;
    height: 30px;
    background-color: #2b356b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.toggle-button:hover {
    background-color: #3c487f;
}

.logo h2 {
    text-align: center;
    padding: 20px;
    color: white;
}

.sidebar.collapsed .logo h2 {
    display: none;
}

.menu--list {
    margin-top: 10px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    gap: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.menu--list .item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon {
    font-size: 1.5rem;
}

.menu--list span {
    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.sidebar.collapsed .menu--list span {
    opacity: 0;
    margin-left: -20px;
    pointer-events: none;
}

.footer {
    margin-top: auto;
    padding: 20px;
    font-size: 0.9rem;
    background-color: #2b356b;
    text-align: center;
}

.item.active {
    background-color: #e0e0e049;
    color: #000;
}

.item.active .icon {
    color: white;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.collapsed {
        width: 50px;
    }
}
